h1{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
}
body{
    background-color: black;
    justify-content: center;
}
#white{
    color: white;
}
img{
    border: 5px solid white;
}
#mid{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    -ms-flex-align: center;
    text-align: center;
}